# Excluir TODO en la raíz EXCEPTO lo permitido
/*
!/.gitignore
!/modulos/
!/.scripts/
# .scripts/ (Versionado en GitHub pero excluido del host)
/core/
/docs/
/.agent/

# Excluir todo en modulos EXCEPTO los modulos permitidos (15 en total)
/modulos/*
!/modulos/atencioncliente/
!/modulos/auxiliaradministrativo/
!/modulos/cds/
!/modulos/desarrollo/
!/modulos/diseno/
!/modulos/experienciadigital/
!/modulos/gerencia/
!/modulos/infraestructura/
!/modulos/legal/
!/modulos/mantenimiento/
!/modulos/marketing/
!/modulos/produccion/
!/modulos/rh/
!/modulos/sistemas/
!/modulos/sucursales/
!/modulos/tecnicodesarrollohumano/
!/modulos/ventas/

# Excluir todo dentro de uploads (pero mantener las carpetas)
/modulos/atencioncliente/uploads/*
/modulos/auxiliaradministrativo/uploads/*
/modulos/cds/uploads/*
/modulos/desarrollo/uploads/*
/modulos/diseno/uploads/*
/modulos/experienciadigital/uploads/*
/modulos/gerencia/uploads/*
/modulos/infraestructura/uploads/*
/modulos/legal/uploads/*
/modulos/mantenimiento/uploads/*
/modulos/marketing/uploads/*
/modulos/produccion/uploads/*
/modulos/rh/uploads/*
/modulos/sistemas/uploads/*
/modulos/sucursales/uploads/*
/modulos/tecnicodesarrollohumano/uploads/*
/modulos/ventas/uploads/*