
# Excluir TODO en la raíz EXCEPTO lo permitido
/*
!/.gitignore
!/modulos/

# Excluir todo en modulos EXCEPTO mantenimiento
/modulos/*
!/modulos/mantenimiento/

# Excluir todo dentro de uploads (pero mantener la carpeta)

