*{
    font-size: clamp(11px, 2vw, 16px) !important;
    font-family: 'Calibri', sans-serif;
    align-items: center;
    text-align: center;
}

/* Estilo para las celdas de la tabla (td) */
td {
    padding: 12px; /* Ajusta este valor para tener más o menos espacio */
    text-align: left;
}

/* Estilo para la tabla en el índice */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: #51B8AC;
    color: white;
}

/* Botones de editar y eliminar */
.button {
    display: inline-block;
    padding: 10px 15px;
    text-align: center;
    color: white;
    background-color: #51B8AC;
    border-radius: 5px;
    text-decoration: none;
}

.button:hover {
    background-color: #0E544C;
}

.editar {
    background-color: #51B8AC;
}

.editar:hover {
    background-color: #0E544C;
}

.eliminar {
    background-color: #51B8AC;
}

.eliminar:hover {
    background-color: #0E544C;
}

